<td class="creator">
    <a href="{{get "topic.creator.path"}}" data-user-card="{{get "topic.creator.username"}}">
        {{#if context.topic.creator.name}}
            {{get "topic.creator.name"}}
        {{else}}
            {{format-username "topic.creator.username"}}
        {{/if}}
    </a>
</td>